*{
  background-color: #f0f0f0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.celebritiesDisplay{
  overflow-y: scroll;
  height: 80vh;
  width: 50vh;
 }
 
 .celebritiesDisplay img{
  height: 60px;
  width: 60px;
 }

.Bold span{
  color:blue;
  font-size:30px;
}

.Bold:hover span{
  font-weight:bold;
}

.Bold:hover{
  text-decoration:underline;
  font-weight:bold;
}

.title{
  background-color: #222;
  color: white;
  margin: 0;
  padding: 10px 0 10px 0;
}

